<div class="calculator" [ngClass]="{ 'dark-mode': isDarkMode }">
  <div class="result">
    <app-calculator-result
      [isDarkMode]="isDarkMode"
      [result]="calculationResult"
    ></app-calculator-result>
  </div>

  <app-calculator-button
    *ngFor="let button of buttons"
    [isDarkMode]="isDarkMode"
    displayValue="{{ button.displayValue }}"
    (handleClick)="button.handleClick($event)"
  >
  </app-calculator-button>

  <button
    class="dark-mode-toggler"
    (click)="onTogglerClick()"
    title="{{ isDarkMode ? 'Dark' : 'Light' }}"
  >
    {{ isDarkMode ? "D" : "L" }}
  </button>
</div>
