.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  border: 1px solid var(--border-color-light);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-light);
  position: relative;
}

.calculator .result {
  grid-column: span 4;
}

.dark-mode-toggler {
  position: absolute;
  right: -10px;
  top: -11px;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}

.dark-mode.calculator {
  background-color: lightgray;
}
