.btn {
  color: #fff;
  background-color: #32c5d2;
  border-color: #32c5d2;
  margin-right: 5px;
}

.btn:hover {
  color: #fff;
  background-color: #26a1ab;
  border-color: #2499a3;
  transition: all 0.3s;
}
